:root {
  --background-color-body: hsl(280, 80%, 93%);
  --background-color-dark: hsl(280, 80%, 20%);
  --background-color-light: hsl(280, 80%, 45%);
  --background-color-main: hsl(280, 80%, 97%);
  --text-color-content: hsl(280, 80%, 10%);
  --text-color-heading: hsl(280, 80%, 20%);
  --text-color-sidebar: white;
  --text-color-subheading: hsl(280, 80%, 45%);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 11pt;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color-body);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}
main {
  box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "main-content sidebar";
  margin: 3rem auto;
  max-width: 960px;
  width: 94vw;
}
@media only screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "sidebar"
      "main-content";
  }
}
p {
  margin: 0 0 1em 0;
}
p:last-child {
  margin: 0;
}
.sidebar {
  background-color: var(--background-color-light);
  grid-area: sidebar;
  max-width: 94vw;
}
.profile {
  align-items: center;
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem 0;
  min-width: 15rem;
  padding: 1rem 0;
}
.profile__picture {
  padding: 1.5rem 0;
}
.profile__picture img {
  border-radius: 50%;
  height: 12rem;
  object-fit: cover;
  width: 12rem;
}
.profile__name {
  color: var(--text-color-sidebar);
  margin: 0;
}
.profile__job-role {
  color: var(--text-color-sidebar);
}
.contact-details {
  list-style: none;
  margin: 0 0 3rem 0;
  padding: 0 1.5rem;
}
.contact-details li {
  color: var(--text-color-sidebar);
  margin: 0 0 1rem 0;
  white-space: nowrap;
}
.contact-details a {
  color: var(--text-color-sidebar);
  padding-left: 0.5rem;
  text-decoration: none;
}
.contact-details a:hover {
  text-decoration: underline;
}
.education {
  margin: 0 0 3rem 0;
  padding: 0 1.5rem;
}
.education__title {
  color: var(--text-color-sidebar);
  margin: 0 0 0.75rem 0;
}
.education__qualification {
  color: var(--text-color-sidebar);
  margin: 0.25rem 0;
}
.education__establishment {
  color: var(--text-color-sidebar);
  font-size: 0.85em;
  margin: 0.25rem 0;
}
.education__date-range {
  color: var(--text-color-sidebar);
  font-size: 0.85em;
  margin: 0.25rem 0;
}
.languages {
  margin: 0 0 3rem 0;
  padding: 0 1.5rem;
}
.languages__title {
  color: var(--text-color-sidebar);
  margin: 0 0 0.75rem 0;
}
.languages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.languages__list-item {
  color: var(--text-color-sidebar);
  padding: 0.25rem 0;
}
.interests {
  margin: 0 0 3rem 0;
  padding: 0 1.5rem;
}
.interests__title {
  color: var(--text-color-sidebar);
  margin: 0 0 0.75rem 0;
}
.interests__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.interests__list-item {
  color: var(--text-color-sidebar);
  padding: 0.25rem 0;
}
.main-content {
  background-color: var(--background-color-main);
  grid-area: main-content;
  max-width: 94vw;
  padding: 1.5rem;
}
.career-profile {
  margin: 0 0 1rem 0;
}
.career-profile__title {
  color: var(--text-color-heading);
  margin: 1rem 0;
}
.career-profile__content {
  color: var(--text-color-content);
  padding: 0.5rem;
  text-align: justify;
}
.career-profile__content a {
  color: inherit;
}
.career-profile__content a:hover {
  color: var(--text-color-subheading);
}
.career-profile__content--placeholder {
  background-color: rgba(0, 0, 0, 0.05);
}
.experience {
  margin: 0;
}
.experience__title {
  color: var(--text-color-heading);
  margin: 1rem 0;
}
.experience__item {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 0.5rem 1fr;
  grid-template-areas:
    "job-role date-range"
    "employer employer"
    ". ."
    "description description";
  margin: 1rem 0;
  padding: 0.5rem;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}
.experience__item--placeholder {
  background-color: rgba(0, 0, 0, 0.02);
}
.experience__item-job-role {
  color: var(--text-color-heading);
  font-weight: bold;
  grid-area: job-role;
  justify-self: start;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}
.experience__item-job-role--placeholder {
  background-color: hsla(280, 80%, 20%, 0.1);
  color: transparent;
  height: 1.5rem;
  width: 20rem;
}
.experience__item-date-range {
  color: var(--text-color-subheading);
  grid-area: date-range;
  justify-self: end;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}
.experience__item-date-range--placeholder {
  background-color: hsla(280, 80%, 45%, 0.1);
  color: transparent;
  height: 1.5rem;
  width: 10rem;
}
.experience__item-employer {
  color: var(--text-color-subheading);
  grid-area: employer;
  justify-self: start;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}
.experience__item-employer--placeholder {
  background-color: hsla(280, 80%, 45%, 0.1);
  color: transparent;
  height: 1.5rem;
  width: 12rem;
}
.experience__item-description {
  color: var(--text-color-content);
  grid-area: description;
  justify-self: stretch;
  max-height: 100rem;
  overflow: hidden;
  text-align: justify;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color, max-height;
  transition-timing-function: ease-in-out;
}
.experience__item-description--placeholder {
  background-color: rgba(0, 0, 0, 0.03);
  color: transparent;
  height: 15rem;
  max-height: 15rem;
}
@media only screen and (max-width: 600px) {
  .experience__item {
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.5rem auto auto 0.5rem 1fr;
    grid-template-areas:
      "job-role"
      "."
      "date-range"
      "employer"
      "."
      "description";
  }
  .experience__item-date-range {
    justify-self: start;
  }
}
.projects {
  margin: 0;
}
.projects__title {
  color: var(--text-color-heading);
  margin: 1rem 0;
}
.projects__item {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.5rem auto;
  grid-template-areas:
    "name"
    "."
    "description";
  margin: 1rem 0;
  padding: 0.5rem;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}
.projects__item--placeholder {
  background-color: rgba(0, 0, 0, 0.02);
}
.projects__item-name {
  color: var(--text-color-heading);
  font-weight: bold;
  grid-area: name;
  justify-self: start;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}
.projects__item-name--placeholder {
  background-color: hsla(280, 80%, 20%, 0.1);
  color: transparent;
  height: 1.5rem;
  width: 20rem;
}
.projects__item-description {
  color: var(--text-color-content);
  grid-area: description;
  justify-self: stretch;
  max-height: 65rem;
  overflow: hidden;
  text-align: justify;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color, max-height;
  transition-timing-function: ease-in-out;
}
.projects__item-description a {
  color: inherit;
}
.projects__item-description a:hover {
  color: var(--text-color-subheading);
}
.projects__item-description--placeholder {
  background-color: rgba(0, 0, 0, 0.03);
  color: transparent;
  height: 15rem;
  max-height: 15rem;
}
.skills {
  margin: 0 0 1rem 0;
}
.skills__title {
  color: var(--text-color-heading);
  margin: 1rem 0;
}
.skills__detail {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}
.skills__detail--placeholder {
  background-color: rgba(0, 0, 0, 0.02);
}
.skills__detail-item {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  justify-self: stretch;
}
@media only screen and (max-width: 600px) {
  .skills__detail-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.skills__detail-item-name {
  color: var(--text-color-heading);
  font-weight: bold;
  height: 1.5rem;
  justify-self: stretch;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}
.skills__detail-item-name--placeholder {
  background-color: rgba(0, 0, 0, 0.03);
  color: transparent;
}
.skills__detail-item-score {
  background-color: var(--background-color-body);
  height: 1.5rem;
  justify-self: stretch;
}
.skills__detail-item-score-bar {
  background-color: var(--background-color-light);
  height: 100%;
  transition-delay: 250ms;
  transition-duration: 500ms;
  transition-property: width;
  transition-timing-function: ease-in-out;
}
.skills__detail-item-score-bar--placeholder {
  width: 0;
}
